@*@model IEnumerable<ToDoList.Models.TodoList>
*@
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add New ToDo Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Certifications
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Azure
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                AWS
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Python
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                ABCD-1234
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @item.Content
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    </tbody>
</table>
