@*@model IEnumerable<ToDoList.Models.TodoList>
*@
@{
    ViewData["Title"] = "Index";
}

<h1>
    Welcome
</h1>
<h3>
    Please complete the following certifications!
</h3>
<p>
    <a asp-action="Create">Add New ToDo Item</a>
</p>
<table class="table" style="border: solid 2px #324577">
    <thead style="color: #127899; background-color:antiquewhite ">
        <tr>
            <th>
                To Do : Certifications
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Microsoft Azure
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Amazon Web Services
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Python Certification
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Angular Certification
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="">Edit</a> |
                <a asp-action="Delete" asp-route-id="">Delete</a>
            </td>
        </tr>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @item.Content
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}*@
    </tbody>
</table>
